.big_fon {
    perspective: 1500px;
}
.osn_fon {
    position: relative;
    perspective: 1500px;
    margin: 0 auto;
    left: 32%;
    top: 100px;
}

/*-----------------------Начало блока запроса входа---------*/
.block_request {
    position: absolute;
    background-color: #363636c5;
    width: 100%;
    height: 700px;
    z-index: 100;
    border-radius: 20px;
}
.block_request::before {
    content: '';
    background: inherit;
    transition: 0.9s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 20px;
    filter: blur(0.05px);
}
.blok_Zagl {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 50%;
    top: 20%;
    border: 1px solid rgb(0, 68, 253);
    border-radius: 25px;
}
#queste {
    position: relative;
    top: 25%;
    left: 25%;
    margin: 0 auto;
    height: 150px;
    width: 50%;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 0;
    text-shadow: 0 6px 15px black;
    color: rgb(255, 38, 0);
}
#queste:hover {
    position: relative;
    top: 25%;
    left: 25%;
    margin: 0 auto;
    height: 150px;
    width: 50%;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 38, 0);
    outline: none;
    border: 0;
    background-color: rgb(209, 209, 209);
}
/*-----------------------Конец блока запроса входа---------*/


.log_exe {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}
.fon_block {
    position: relative;
    margin: 0 auto;
    background-image: url(image/08c817cc0318d86f4dc0599f29d1f606.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 700px;
    width: 35%;
    box-shadow: 0 5px 15px black;
    transform: rotateY(0deg);
    z-index: 5;
}
.sel_fish {
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 50px;
    text-align: center;
    text-shadow: 0px 5px 10px;
    z-index: 800px;
}
.sel_pirog {
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 70%;
    background-color: rgb(250, 250, 250, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    z-index: 800px;
}
#Hed_text {
    position: relative;
    top: 20px;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0 7px 10px black;
}
.content_chek {
    position: relative;
    margin: 0 auto;
    height: 40px;
    width: 70%;
    top: 30px;
}
#kod_1 {
    position: relative;
    margin: 0 auto;
    height: 30px;
    width: 100%;   
}
.but_sb {
    position: relative;
    margin: 0 auto;
    top: 40px;
    height: 40px;
    width: 100%;
}

/*--Заглушка кнопки показа списка рыб*/
.but_blockcod {
    position: inherit;
    margin: 0 auto;
    top: 100%;
    height: 40px;
    width: 100%;
    background-color: rgb(199, 0, 0);
    font-size: 10px;
    color: #ffffff;
    z-index: 20;
    pointer-events: auto;
    cursor: not-allowed;
    text-align: center;
    font-size: 25px;
}
/*--Кнопка показа списка рыб--*/
#but_cod {
    position: inherit;
    top: 70%;
    border: 0px;
    height: 40px;
    width: 100%;
    outline: none;
    background-color: rgb(0, 119, 255);
    font-size: 15px;
    color: #ffffff;
    z-index: 15;
}
#but_cod:hover {
    position: inherit;
    top: 60%;
    border: 0px;
    height: 40px;
    width: 100%;
    outline: none;
    background-color: rgb(0, 17, 255);
    transition: 0.6s;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}
#but_cod:active {
    position: inherit;
    top: 60%;
    border: 0px;
    height: 40px;
    width: 100%;
    outline: none;
    background-color: rgb(0, 17, 255);
    transition: 0.6s;
    font-size: 13px;
    transition: 0.1s linear;
    color: #ffffff;
}


.window_choise {
    position: relative;
    top: 30%;
    margin: 0 auto;
    height: 30px;
    width: 100%;
    text-align: center;
}

.rez_radio {
    position: relative;
    top: 30%;
    background-color: #ffffff;
    height: 40px;
    width: 80%;
    border: 2px outset rgb(255, 38, 0);
    margin: 0 auto;
}


/*------Линии в побочных страницах---------*/

.line_top {
    position: relative;
    margin: 0 auto;
    background-color: black;
    border-radius: 30em/0.3em;
    height: 6px;
    width: 70%;
    top: 10%;
    box-shadow: 0 -10px 10px black;
}
.line_bottom {
    position: relative;
    margin: 0 auto;
    background-color: black;
    border-radius: 30em/0.3em;
    height: 5px;
    width: 70%;
    top: 150%;
    box-shadow: 0 10px 10px black;
}

/*--Кнопка блокировки-*/

.block_wind {
    position: relative;
    margin: 0 auto;
    top: 50%;
    height: 20px;
    width: 50%;
}